body {
    font-family: "Montserrat";
    text-align: center;
  }

#title {
    background-color: #ff4c68;
    color: #fff;
    text-align: left;
  }

.container-fluid{
    padding: 7% 15%;
  }


h1{ 
     font-family: 'Montserrat, sans-serif'; 
      font-size: 3.5rem;  
      line-height: 1.5; 
       font-weight: 900;
    }

 h2 {
        font-family: 'Montserrat, sans-serif'; 
      font-size: 3rem;  
      line-height: 1.5; 
       font-weight: 900;
    }

p {
        color: #8f8f8f;
      }   

 .navbar-brand {
        font-family: "Ubuntu";
        font-size: 2.5rem;
        font-weight: bold;
      }

.navbar {
        padding: 0 0 4.5rem;
      } 
      
.nav-item {
        padding: 0 18px;
      }
      
 .nav-link {
        font-size: 1.2rem;
        font-family: "Montserrat-Light";
      }
   


.download-button {
        margin: 5% 3% 5% 0;
      }
 
 
.title-image {
        width: 60%;
        transform: rotate(25deg);
        position: absolute;
        right: 30%;
      }
           



#features {
        position: relative;
      }
      
.feature-title {
        font-size: 1.5rem;
      }
  
.feature-box {
        padding: 4.5%;
      }


.icon {
        color: #ef8172;
        margin-bottom: 1rem;
      }
      
.icon:hover {
        color: #ff4c68;
      }     

  
      
      
#testimonials {
    background-color: #ef8172;
  }

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
  }
  
.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
  }
  
#press {
    background-color: #ef8172;
    padding-bottom: 3%;
  } 
.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
  }
  
.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
  }


#pricing {
    padding: 100px;
  }
  
.price-text {
    font-size: 3rem;
    line-height: 1.5;
  }
  
.pricing-column {
    padding: 3% 2%;
  }